[submodule "kiji-schema"]
	path = kiji-schema
	url = git@github.com:kijiproject/kiji-schema.git
[submodule "kiji-mapreduce"]
	path = kiji-mapreduce
	url = git@github.com:kijiproject/kiji-mapreduce.git
[submodule "annotations"]
	path = annotations
	url = git@github.com:kijiproject/annotations.git
[submodule "kiji-delegation"]
	path = kiji-delegation
	url = git@github.com:kijiproject/kiji-delegation.git
[submodule "kiji-platforms"]
	path = kiji-platforms
	url = git@github.com:kijiproject/kiji-platforms.git
[submodule "kiji-phonebook"]
	path = kiji-phonebook
	url = git@github.com:kijiproject/kiji-phonebook.git
[submodule "kiji-mapreduce-lib"]
	path = kiji-mapreduce-lib
	url = git@github.com:kijiproject/kiji-mapreduce-lib.git
[submodule "fake-hbase"]
	path = fake-hbase
	url = git@github.com:kijiproject/fake-hbase
[submodule "hadoop-configurator"]
	path = hadoop-configurator
	url = git@github.com:kijiproject/hadoop-configurator
[submodule "hbase-maven-plugin"]
	path = hbase-maven-plugin
	url = git@github.com:kijiproject/hbase-maven-plugin
[submodule "kiji-avro"]
	path = kiji-avro
	url = git@github.com:kijiproject/kiji-avro
[submodule "kiji-common-flags"]
	path = kiji-common-flags
	url = git@github.com:kijiproject/kiji-common-flags
[submodule "kiji-music"]
	path = kiji-music
	url = git@github.com:kijiproject/kiji-music
[submodule "kiji-poms"]
	path = kiji-poms
	url = git@github.com:kijiproject/kiji-poms
[submodule "kiji-schema-shell"]
	path = kiji-schema-shell
	url = git@github.com:kijiproject/kiji-schema-shell
[submodule "wibi"]
	path = wibi
	url = git@git.wibidata.com:wibi
[submodule "odiago-build"]
	path = odiago-build
	url = git@git.wibidata.com:odiago-build
[submodule "avro-gradle-plugin"]
	path = avro-gradle-plugin
	url = git@github.com:kryzthov/avro-gradle-plugin.git
